html {
  color: white;
  scroll-behavior: auto !important;
}
div {
  font-family: Raleway;
  font-weight: 200;
}
nav p {
  margin: 0;
}
.cuerpo {
  background-color: black;
}
h2 {
  color: white;
  font-weight: lighter;
}

div.card {
  background-color: none;
  border: none;
}

.text-somos {
  color: white;
  text-align: justify;
}

/* .card-border {
  border-color: black solid 2px;
} */
i,
label {
  color: white;
}

.icons-footer {
  font-size: xx-large;
  padding: 0.5em 0.5em;
}
